body {
    margin: 0;
    overflow-x: hidden;
    /* font-family: "rocky-compressed", serif; */
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    
  }

  @font-face {
    font-family: 'arial';
    src: url('../font/arial.ttf') format('ttf');
    font-weight: normal; /* Adjust as needed */
    font-style: normal;  /* Adjust as needed */
  }

  strong {
    font-weight: 600;
}

.letters_fall{
  width: 150%;
}

/* .falling_letters{
  width: 100vh;
} */

  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  main {
    overflow-x: hidden;
  }

  .timeline__svg {
    position: absolute;
  }
  /* svg {
    position: absolute;
  } */

  .header{
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__logo,
  .header__menu-icon
  {
    align-self: flex-start;
  }
 
  .hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2.5rem;
    position: relative;
    /* background-image: url('../assets/divider.png');
    background-size: contain; 
    background-position: bottom calc(100% - 1rem);
  background-repeat: no-repeat; */
  }

  


  .hero__heading{
    font-family: "rocky-compressed", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3.75rem;
    text-align: center;
    line-height: 1.1;
    color: #4B4239;
  }


  .hero_heading_highlight_word , .legacy-section__highlight{
    color: #BB5943;
  }

  .candlefire{
    position: absolute;
    top: 0;
  }

  .hero__para{
    font-family: 'arial', serif;
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.5;
    margin-top: 0.5rem;
    width: 95%;
    max-width: 30ch;
  }

  .wrapper{
    width: 80%; 
    margin: 0 auto;
  }

 .background{
  background-image: 
  url('../assets/background.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  z-index: 1;
 }


 /* .background{
  background-image: 
  url('../assets/background.png'),
  url('../assets/divider.png');
  background-size: cover, auto; 
  background-position: center, bottom; 
  background-repeat: no-repeat, no-repeat;
 } */

  .hero__button{
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    color: #FAF0E6;
    border: none;
    background-color: #7C936A;
    margin-top: 1rem;
  }

  .alphabets{
    z-index: 2;
  }

  .divider{
    width: 140%;
    margin: auto;
    position: absolute;
    bottom: -3.5rem;
    z-index: -3;
  }

  .divider_4{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(180deg);
  }

  .divider_5, .divider_6, .divider_7{
    width: 100%;
    position: absolute;
    z-index: 1;
    transform: translateY(-3rem);
  }

  .divider_7{
    transform: translateY(3rem);
    rotate: 180deg;
  }

  .divider_6{
    z-index: -1;
  }

  .paper_dividing{
    width: 100%;
    position: absolute;
    z-index: -1;
    bottom: -2rem;
  }

  .divider_one{
    width: 100%;
    margin: auto;
    position: absolute;
    bottom: -45px;
  }

  .paper_dividing2, .paper_dividing2_1{
    width: 100%;
    /* margin: auto; */
    position: absolute;
    bottom: -45px;
    /* z-index: -1; */
    transform: rotate(180deg);
  }

  .paper_dividing6, .paper_dividing6_1{
    width: 100%;
    /* margin: auto; */
    position: absolute;
    bottom: -3rem;
    z-index: 1;
    transform: rotate(180deg);
  }

  .paper_dividing6_1{
    transform: rotate(0deg);
    bottom: -6rem;
    z-index: -1;
  }

  .paper_dividing2{
    z-index: 110;
  }
  
  .paper_dividing2_1{
    bottom: -6rem;
    transform: rotate(0deg);
    z-index: 90;
  }

  .spark{
    background-color: #9F916C;
    position: relative;
    z-index: -100;
    background-image: url('../assets/streets_of_antwerp.png');
    background-size: contain; 
    background-position: center bottom;
    background-repeat: no-repeat;
    padding-bottom: 18rem;
  }

  .spark__figure{
    position: absolute;
    width: 100%;
    max-width: 8rem;
    right: 0;
    bottom: 0;
  }

  .spark__heading{
    font-family: "rocky-compressed", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 3.75rem;
    padding-top: 3.5rem;
    color: #F2F1EE;
    
  }

  .spark__description, .workshop__description{
    line-height: 1.5;
    color: #F2F1EE;
    font-family: 'arial', serif;
    margin-top: 1.5rem;
    max-width: 60ch;
    font-size: 1.1rem;
    line-height: 1.6;
  }

  
  .spark__highlight{
    color: #E0CE9E;
  }

  .spark_before{
    padding: 2.5rem;
  }

  .card_two{
    background-color: #9F916C;
    position: relative;
  }

  .card__description{
    line-height: 1.6;
    font-family: 'arial', serif;
    color: #F2F1EE;
    padding-top: 1.5rem;
    padding-bottom: 30rem;
    max-width: 60ch;
    font-size: 1.1rem;
  }

  .hand_giving{
    width: 100%;
    position: absolute;
    top: 20rem;
    /* bottom: 0; */
    left: -20rem;
    z-index: 2;
    max-width: 18rem;
  }
  .hand_receiving{
    width: 100%;
    position: absolute;
    /* top: 35rem; */
    bottom: 7rem;
    right: -18rem;
    max-width: 18rem;
  }

  .book_inHand{
    width: 100%;
    position: absolute;
    top: 23rem;
    left: 4.8rem;
    z-index: 1;
    opacity: 0;
    max-width: 9.5rem;
  }


  /* .cards {
    background-image: url(../assets/clouds.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: 110;
    position: relative;
} */


  .workshop__heading{
    font-family: "rocky-compressed", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 3.75rem;
    color: #4B4239;
  }

.workshop__highlight_one{
  color: #BB5943;
}

.workshop__highlight_two{
  margin-left: 5rem;
}

.workshop_container{
  display: flex;
  flex-direction: column;
}

.workshop{
  padding-top: 2rem;
  background-image: url('../assets/background.png');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 2rem;
  position: relative;
  z-index: 1;
}

.workshop__wrapper{
  display: flex;
  flex-direction: column;
}



/* .workshop {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-image: url('../assets/clouds.png');
  background-size: contain; 
  background-position: 0 -4rem; 
  background-repeat: no-repeat;
  z-index: 1000; 
} */

.workshop__description{
  color: #4B4239;
  /* display: flex;
  flex-direction: column;
  gap: 0.5rem; */
}

.workshop__try-it{
  font-weight: bold; 
}

.printed_paper_section{
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
}



.container img{
  /* width: 9rem; */
  width: 100%;
    max-width: 9rem;
}



.printed_paper_section{
  position: relative;
}

.stamping img{
  /* width: 10rem; */
  width: 100%;
    max-width: 10rem;
}



@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}

.reset-button{
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  color: #FAF0E6;
  border: none;
  background-color: #7C936A;
  margin: 1.5rem auto 0 auto;
  display: none;
}


.clouds{
  width: 150%;
  position: absolute;
  margin: 0 auto;
  top: -6rem;
  right: -10rem;
}

.drag-area{
  display: flex;
  flex-direction: column;
  /* width: 50%; */
  gap: 2rem;
}

.draggable{
  width: 100%;       
  max-width: 6rem; 
  height: auto;   
}

.draggable:last-child{
  max-width: 5.2rem; 
}

.game-container{
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */
  background-color: #2F2B27;
  /* max-width: 90%; */
  margin-top: -10px;
  padding-top: 1.8rem;
  padding-bottom: 2rem;
  position: relative;
}

.drop-zone{
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  text-align: center;
  font-family: 'arial', serif;
  gap: 0.3rem;
  position: relative;
}

.drop-zone img{
  width: 100%;       
  max-width: 8rem; 
  height: auto;  
}

.drop-zone span{
  color: #F2F1EE;
  line-height: 1.4;
}

.drop-zone span{
  width: 90%;
}

.drop-area{
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  margin-top: 1.5rem;
  
}

.matched_item{
  position: absolute;
  top: -4rem;
}

.match-tools__heading{
  font-family: "rocky-compressed", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 3.4rem;
    padding-top: 3.5rem;
    color: #F2F1EE;
}

.match-tools__highlight--purpose{
  color: #E0CE9E;
}

.match-tools__highlight{
  margin-left: 3.5rem;
}


.match-tools{
  background-color: #2F2B27;
}

.match-tools__description{
  line-height: 1.5;
    color: #F2F1EE;
    font-family: 'arial', serif;
    margin-top: 1.5rem;
    z-index: 1;
    position: relative;
    max-width: 60ch;
}

.timeline{
  padding-top: 8rem;
  /* border: 1px solid black; */
  background-image: 
  url('../assets/background.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  z-index: 10;
  position: relative;
  padding-bottom: 5rem
}

/* .timeline__svg-container{
  position: relative;
}

.open_book{
  position: absolute;
    top: -1rem;
    left: -2.5rem;
    scale: 0.6;
} */
.timeline__svg-container {
  display: flex;
  flex-direction: column;
  align-items: start; /* Align items to the left */
  position: relative;
}

/* .timeline__svg {
  width: 100%; 
  height: auto; 
} */

.open_book{
  scale: 0.8 !important;
}

/* .open_book {
  scale: 0.8 !important;
    position: absolute;
    left: -4.1rem;
    top: -2.5rem;
} */

/* .open_book {
  scale: 0.8 ; 
  position: absolute; 
  left: -3.2rem !important; 
  top: -1.5rem; 
  transform: translateX(-50%); 
} */

.timeline__date{
  font-family: "rocky-compressed", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.1rem;
    padding-top: 2rem;
    color: #4B4239;
}

.timeline .timeline__item:nth-of-type(1) .timeline__date{
  padding-top: 4rem;
}

.data{
  position: absolute;
    top: 3rem;
    left: 3.5rem;
    font-family: "rocky-compressed", serif;
    font-size: 2.9rem;
    color: #BB5B45;
}

.book_text{
  position: absolute;
    top: 3rem;
    right: 3rem;
    font-family: "rocky-compressed", serif;
    font-size: 2.9rem;
    color: #BB5B45;
    text-transform: capitalize;
}

.timeline__highlight{
  color: #BB5B45;
}

.timeline__description{
    line-height: 1.5;
    color: #4B4239;
    font-family: 'arial', serif;
    margin-top: 0.8rem;
    font-size: 1rem;
    max-width: 60ch;
}

.timeline__image{
  width: 100%;
  max-width: 90%;
}

.timeline__item{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 4rem;
}

/* .timeline__item {
  opacity: 0;
  transform: translateY(2rem); 
  transition: opacity 0.3s ease, transform 0.3s ease; 
} */

.timeline__content {
  /* opacity: 0;  */
  transform: translateY(2rem); 
  /* transition: opacity 0.3s ease, transform 0.3s ease;  */
}

.timeline__media{
  transform: translateY(2.5rem); 
  display: flex;
  justify-content: center;
  align-items: center;
}




.flipbook {
  width: 100%;
  max-width: 90%; 
  height: auto;
  aspect-ratio: 1.5;
}

.flipbook .page {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  background: url('../assets/normal_paper.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  /* background: white; */
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.page .question_in_theBook{
  font-size: 1rem;
  width: 90%;
}

/* .flipbook .hard {
  background: url('../assets/book_cover.png');
  color: #fff;
  font-weight: bold;
  border: none;
} */

.flipbook .hard {
  width: 100%;
  height: 100%;
  background: url('../assets/book_cover.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none;
  outline: 1px solid transparent; /* Force rendering to align */
}



.flipbook .page small {
  font-size: 0.7rem; 
  color: #333;
}


.garamond{
  border: 1px solid black;
  font-family: "adobe-garamond-pro", serif;
font-weight: 400;
font-style: normal;
/* display: inline-block; */
padding: 0.5rem 1rem;
}

.arialing{
  font-family: 'arial', serif;
  /* display: inline-block; */
padding: 0.5rem 1rem;
border: 1px solid black;
}


.flipbook {
  width: 800px !important;
  height: 1200px !important;
}

.craftsmen{
  background-color: #9F916C;
  padding-top: 3rem;
  position: relative;
  padding-bottom: 6rem;
  z-index: 100;
}

.craftsmen__clouds{
  width: 150%;
    position: absolute;
    margin: 0 auto;
    top: -6rem;
    right: -10rem;
    z-index: 10;
}

.craftsmen__title{
  font-family: "rocky-compressed", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3.5rem;
  line-height: 1.1;
  color: #F2F1EE;
  
}



.craftsmen__highlight{
  color: #E0CE9E;
}

.touch{
  margin-left: 9rem;
}

.craftsmen__description{
  line-height: 1.5;
  color: #F2F1EE;
  font-family: 'arial', serif;
  margin-top: 0.8rem;
  font-size: 1rem;
  max-width: 60ch;
}

/* .section_maining{
  background-image: 
  url('../assets/background.png');
  background-size: cover; 
  position: relative;
} */

.section-plantin{
  background-image: 
  url('../assets/background.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  z-index: 100;
  position: relative;
  margin-top: -2rem;
  padding-top: 2rem;
  /* height: 100rem; */
}

.section-plantin__heading, .section-book__title, .horizontal-scroll__title, .legacy-section__title, .museum-visit__info-title{
  font-family: "rocky-compressed", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3.5rem;
  line-height: 1.1;
  color: #4B4239;
}




.legacy-section__title{
  font-size: 3.3rem;
}

.horizontal-scroll__content{
  position: relative;
}

.horizontal-scroll__title{
  color: #F2F1EE;
  font-size: 3rem;
  /* margin-left: 3rem; */
}

/* .horizontal-scroll__image--plantin{
  width: 100%;
  max-width: 18rem;
  position: absolute;
  left: -8rem;
} */

.horizontal-scroll__highlight_one, .horizontal-scroll__highlight_two{
  color: #E0CE9E;
}

.horizontal-scroll__highlight_two{
  margin-left: 7rem;
}

.horizontal-scroll__highlight_one{
  margin-left: 1rem;
}

.section-book__title{
  text-align: center;
}

.section-plantin__heading--highlight, .section-book__highlight{
  color: #BB5B45;
  margin-left: 1rem
}

.section-book__highlight{
  margin-left: 0;
}

.section-plantin__heading--highlight_1{
  margin-left: 3rem;
}

.section-plantin__image--one{
  width: 100%;
  max-width: 16rem;
  position: absolute;
  left: -9rem;
  top: 13rem;
  rotate: 15deg;
}

.section-plantin__image--two{
  max-width: 12rem;
  position: absolute;
  left: -6rem;
  top: 18rem;
  /* top: 20rem; */
  z-index: -1;
  /* rotate: -157deg; */
  rotate: -211deg;

}

/* 

top: 18rem;
rotate: -211deg; */

.section-plantin__image--collage{
  width: 100%;
  max-width: 56rem;
  margin: 3rem auto auto auto ;
}

.section-plantin__description ,  .section-book__description, .horizontal-scroll__description, .legacy-section__description , .museum-visit__info-description{
  line-height: 1.5;
  color: #4B4239;
  font-family: 'arial', serif;
  margin-top: 1.5rem;
  margin-left: 5rem;
  max-width: 60ch;
}

.horizontal-scroll__description{
  color: #F2F1EE ;
  margin-left: 0;
  /* margin-top: 8rem; */
}

.section-book__description, .legacy-section__description, .museum-visit__info-description{
  margin-left: 0;
}

.museum-visit__info-description{
  color: #F2F1EE;
}

.section-book{
  padding-top: 2rem;
  background-image: 
  url('../assets/background.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  z-index: 100;
  position: relative;
  /* height: 100rem; */
}

.spacer{
  background-image: 
  url('../assets/background.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.section-book_images_main{
  display: flex;
  width: 100%;
  justify-content: center;
}

.section-book__image{
  width: 100%;
  max-width: 16rem;
}

.section-book__image--hand-one{
  transform: translateX(-10vw);
}

.section-book__image--hand-two {
  transform: translateX(10vw); 
}

.horizontal-scroll__content{
  background-color: #2F2B27;
  padding-top: 2rem;
}

.horizontal-scroll__image--moretus{
  width: 100%;
  max-width: 23rem;
  margin-left: 8rem;
  margin-top: 1rem;
  transform: translateX(15rem);
}

.horizontal-scroll{
  position: relative;
}

.legacy-section{
  padding-top: 2rem;
    background-image: url(/src/assets/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;
    position: relative;
}

.candle_images{
  display: flex;
  position: relative;
}

.candle_images::before {
  content: ""; 
  position: absolute; 
  top: 1px; 
  left: 73%; 
  transform: translateX(-50%); 
  width: 50px; 
  height: 70px; 
  background-image: url('./src/assets/new_candlefire.gif'); 
  background-size: contain; 
  background-repeat: no-repeat; 
  pointer-events: none; 
}

.candle_images::after {
  content: ""; 
  position: absolute; 
  top: -2.5rem;
  right: 0;
  transform: translateX(-50%); 
  width: 50px; 
  height: 70px; 
  background-image: url('./src/assets/new_candlefire.gif'); 
  background-size: contain; 
  background-repeat: no-repeat; 
  pointer-events: none; 
}

.legacy-section__image{
  width: 100%;
  max-width: 10rem;
  margin-left: auto;
}

.graramond_arial_cards{
  display: flex;
    gap: 0.5em;
    flex-direction: column;
    text-align: center;
    margin-top: 0.5em;
}

.feedback_for_font{
  font-size: 0.7rem;
  /* width: 95%; */
  line-height: 1.2;
  font-family: 'arial', serif;
  margin-top: 0.5em;
  color: #4B4239;
}

.garamond{
  font-family: "adobe-garamond-pro", serif;
  font-weight: 400;
  font-style: normal;
  padding: 0.5em ;
  cursor: pointer;
  /* font-size: clamp(1rem, 2vw, 2rem); */
  font-size: 1rem;
  display: flex;
  align-items: center;
  
}

.arialing{
  font-family: 'arial', serif;
  /* padding: 0.5em ; */
  cursor: pointer;
  /* font-size: clamp(1rem, 2vw, 2rem); */
  font-size: 1rem;
  display: flex;
  align-items: center;
  
}

.page {
  background: url('../assets/normal_paper.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  padding: 2vw;
}

#page1 {
  background: url('../assets/book_cover.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}


.stf__block {
  margin-top: -3rem !important;
  padding: 0 !important;
}



.stf__parent {
  width: 100% !important;
  height: 400px !important; 
  max-height: 90vh; 
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

.stf__wrapper {
  height: 100% !important; 
  padding-bottom: 0 !important; 
}

#flipbook1 {
  width: 100%;
  height: 100%;
  
  margin: 0;
  padding: 0;
  overflow: hidden; 
} 



.book {
  position: relative;
  width: 90%;
  height: 13rem;
  margin: auto;
  margin-top: 3rem;
  transform: translateX(50%);
}

.paper {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  perspective: 1500px;

}

.front,
.back {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: left;
  transition: transform 0.5s;
  background: url('../assets/book_cover.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.front {
  z-index: 1;
  backface-visibility: hidden;
  /* border-left: 3px solid powderblue; */
}

/* #p1, #b1{
  background: url('../assets/book_cover.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
} */

#f2{
  background: url('../assets/normal_paper.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1em;
  box-sizing: border-box;
  width: 94%;
}


.back {
  z-index: 0;
}

.front-content,
.back-content {
  width: 100%;
  height: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.back-content {
  transform: rotateY(180deg)
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
  transform: rotateY(-180deg);
}

/* Controller Buttons */
/* button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.5s;
} */

.section-book_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



#p1 {
  z-index: 3;
}

#p2 {
  z-index: 2;
}


.buttons_forBook{
  display: flex;
  justify-content: center;
    gap: 1.5em;
    margin-top: 2em;
}

.flipbook__heading{
  font-family: "rocky-compressed", serif;
    font-weight: 500;
    font-style: normal;
    color: #4B4239;
    font-size: 1rem;
}

.arial_div_click_color{
  background-color: #BB5B45;
  color: #F2F1EE;
  border: none;
}

#prev-btn, #next-btn{
  font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    color: #4B4239;
    border: none;
    background-color: #E0CE9E;
}


.museum-visit{
  padding-top: 3em;
}

.museum-visit__info-title--highlight{
  color: #E0CE9E;
}

.museum-visit__info-title{
  color: #F2F1EE;
  font-size: 3.4rem;
}

.museum-visit__info-button{
  background-color: #2F2B27;
  color: #FAF0E6;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.5em;
  margin-top: 1.2em;
  border: none;
}

.museum-visit{
  background-color: #9F916C;
}

.museum-visit__image-file{
  width: 100%;
  transform: translateX(-24rem);
}

.matching, .tabletop{
  display: none;
}


.horizontal-scroll__image--plantin{
  display: none;
}

.footer{
  background-image: 
  url('../assets/background.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  padding-top: 1em;
  z-index: 100;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1em;
}

.footer__newsletter{
  opacity: 0;
}

.contact-info__phone, .contact-info__email{
  display: none;
}

.contact-info{
  font-family: 'arial', serif;
  line-height: 1.5;
}

.logo_footer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  /* border: 1px solid; */
}


.social__icon{
  width: 100%;
  max-width: 1.5rem;
}

.address_footer{
  max-width: 60%;
}

.footer__logo{
  width: 100%;
  max-width: 4rem;
}

.social{
  margin-top: 1em;
}

.social__title{
  font-family: "rocky-compressed", serif;
  font-size: 1.8rem;
    color: #BB5B45;
}



.hidden {
  display: none;
}

.nav {
  margin: 0 auto 2rem auto;
  /* max-width: var(--max-page-width); */
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically center the items */
  padding-top: 1rem;
  max-width: 80%;
}

.nav__item{
  list-style: none;
  font-family: "rocky-compressed", serif;
  font-size: 2.4rem;
  border-bottom: 1px solid #F2F1EE;
  margin-top: 0.5em;
}

.nav__item a{
  color: #F2F1EE;
}

.nav__button {
  border: none;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1;
  background: transparent;
  appearance: none;
  color: black;
  cursor: pointer;
}

.nav__button svg {
  width: 1.5rem;
  height: 1.5rem;
}

.closing__button {
  /* align-self: flex-end; */
  border: none;
  background: transparent;
  margin: 0.5rem;
  cursor: pointer;
}

.closing__button svg {
  width: 1.5rem;
  height: 1.5rem;
  color: #F2F1EE;
}

.nav__list {
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  height: 100vh;
  background-color: #2F2B27;
  /* overflow: hidden; */
  overflow-x: hidden;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 100;
  padding: 1rem 1.5rem;
    box-sizing: border-box;
    /* gap: 1.5em; */
}

.abc {
  transform: translateX(0);
}

.closing__button svg{
  position: relative;
}

.header__logo{
  width: 100%;
  max-width: 5.5rem;
}

.cross_and_logo{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.nav__link {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: black;
  
}



/* @media screen and (min-width: 45em){  
 
  .nav__button {
    display: none;
  }

  .inside_logo{
    display: none;
}

  .nav__button {
      display: none;
    }
  
    
    .nav__list {
      transform: none; 
      position: static; 
      height: auto; 
      width: auto; 
      flex-direction: row; 
      justify-content: flex-end; 
      background-color: transparent; 
    }
  
    .nav__item {
      display: inline-block; 
    }
  
    .nav__link {
      padding: 0 1rem; 
      font-size: 1rem;
    }
  
    .closing__button {
      display: none; 
    }
   
  
} */




/* ------------- */

@media  (min-width : 26rem) {
  .book_inHand {
    left: 6.5rem;
  }
}

@media  (min-width : 31rem) {

  .hero__para, .card__description, .spark__description, .workshop__description , .match-tools__description, .timeline__description , .craftsmen__description , .section-plantin__description , .section-book__description, .horizontal-scroll__content,
  .legacy-section__description, .museum-visit__info-description
  {
    font-size: 1.15rem;
  }

  .nav{
    padding: 1rem 2.5rem;
  }

  .hand_receiving{
    max-width: 27rem;
  }

  .closing__button svg {
    width: 2rem;
    height: 2rem;
}

.nav__item {
  list-style: none;
  font-family: "rocky-compressed", serif;
  font-size: 2.6rem;
}

  .hand_giving{
    max-width: 23rem;
  }

  .workshop__heading {
    padding-top: 4rem;
  }

  .hand_giving{
    top: 19rem;
  }

  .hand_receiving{
    max-width: 28rem;
    /* top: 33rem; */
    bottom: 0;
    right: -29rem;
  }

  .book_inHand{
    left: 9rem;
    max-width: 14.5rem;
    top: 23rem;
  }

  .card_two{
    /* height: 51rem !important;
    max-height: 100vh !important; */
  }

  .clouds {
    top: -6rem;
    right: -12rem;
}

.book {
  height: 17rem;
}

.buttons_forBook {
  margin-top: 3em;
}

.match-tools__highlight {
  margin-left: 0;
}

.data {
  top: 4rem;
  left: 5.5rem;
}


.book_text {
    position: absolute;
    top: 4rem;
    right: 6rem;
}

.section-book__image {
  max-width: 22rem;
}

.horizontal-scroll__highlight_two {
  margin-left: 0;
}

.horizontal-scroll__highlight_one {
  margin-left: 0;
}

.horizontal-scroll__content {
  padding-top: 4rem;
}

}

@media  (min-width : 31rem) {
  .hand_receiving{
    right: -23rem;
  }
}

@media  (min-width : 38.75rem) {
  .hand_receiving{
    right: -18rem;
  }
  .nav__button svg {
    width: 2rem;
    height: 2rem;
}
}

@media  (min-width : 44rem) {
  .hand_receiving{
    max-width: 30rem;
    right: -19rem;
  }
  .nav__item {
    font-size: 3rem;
}
}

@media  (min-width : 45rem) {
  .hero__para, .card__description, .spark__description, .workshop__description , .match-tools__description, .timeline__description , .craftsmen__description , .section-plantin__description , .section-book__description, .horizontal-scroll__content,
  .legacy-section__description, .museum-visit__info-description
  {
    font-size: 1.25rem;
  }

  /* .nav {
    padding: 1.5rem 3rem;
} */

  #f2{
    padding: 2em;
  }

  .hand_giving, .hand_receiving{
    max-width: 27rem;
  }

  .spark__figure{
    max-width: 9rem;
  }

  .hand_giving{
    top: 19rem;
  }

  .hand_receiving{
    max-width: 31rem;
    top: 33rem;
  }

  .book_inHand{
    left: 15rem;
    max-width: 14.5rem;
    top: 23rem;
  }

  .card_two{
    /* height: 51rem !important;
    max-height: 100vh !important; */
  }

  .card_two {
    padding-bottom: 3em;
}

  .clouds{
    top: -7rem;
    right: -18rem;
  }

  .workshop__heading{
    padding-top: 2rem;
}

  .hero__heading, .spark__heading , .workshop__heading, .match-tools__heading , .craftsmen__title, .section-book__title, .horizontal-scroll__title, .legacy-section__title,
  .museum-visit__info-title {
    font-size: 4.75rem;
  }

  .workshop {
    padding-top: 8rem;
  }

  .paper_dividing {
    bottom: -4rem;
}

.container img{
  max-width: 12rem;
}
.stamping img{
  max-width: 14rem;
}

.printed_paper_section{
  margin-top: 4rem;
}

.match-tools__highlight {
  margin-left: 8.5rem;
}

.match-tools__heading {
  padding-top: 6.5rem;
}

.game-container {
  padding-bottom: 4rem;
  padding-top: 3rem;
}



.draggable {
  max-width: 8rem;
}

.draggable:last-child {
  max-width: 6.5rem;
}

.drop-zone img {
  max-width: 11rem;
}

.drop-area {
    gap: 4.5rem;
}

.drop-zone span {
    font-size: 1.25rem;
}

.timeline__date {
  font-size: 3.5rem;
}

.data {
  top: 5rem;
  left: 9rem;
  font-size: 4.9rem;
}

.book_text {
  top: 5rem;
  right: 10rem;
  font-size: 4.9rem;
}

.timeline__image{
  max-width: 70%;
}

.timeline__content {
  transform: translateY(4rem); 
}

.craftsmen__clouds {
  top: -12rem;
  right: -19rem;
}

.timeline {
  padding-bottom: 10rem;
}

.touch {
  margin-left: 0;
}

.craftsmen {
  padding-top: 6rem;
}

.divider_4{
  bottom: -3rem;
}

.book{ 
  height: 27rem;
}

.flipbook__heading {
  font-size: 2rem;
  /* text-align: center; */
}

.graramond_arial_cards{
  flex-direction: row;
}

.arialing, .garamond{
  font-size: 1.5rem;
}

.graramond_arial_cards {
  display: flex;
  gap: 1.5em;
  /* justify-content: center; */
  text-align: center;
  margin-top: 1.5em;
}

.feedback_for_font {
  font-size: 1.1rem;
  margin-top: 1em;
}

.section-plantin__heading{
  font-size: 3.9rem;
  margin-left: 1em;
}

.section-plantin__description{
  margin-left: 4rem;
}

.section-plantin{
  padding-top: 4rem;
}

.section-plantin__image--one{
  max-width: 18rem;
  left: -8rem;
  top: 12rem;
}

.section-plantin__image--two {
  max-width: 14rem;
}

.section-plantin__image--collage {
  margin-left: 19rem;
}

.section-book__title {
  text-align: justify;
}

.section-book__image {
  max-width: 33rem;
}

.divider_5 {
  transform: translateY(-5rem);
}

.horizontal-scroll__highlight{
  margin-left: 1em;
}

.horizontal-scroll__highlight_two {
  margin-left: 0;
}

.horizontal-scroll__content {
  padding-top: 6rem;
}

.horizontal-scroll__image--moretus {
  width: 100%;
  max-width: 38rem;
  margin-left: 21rem;
  margin-top: 1rem;
  margin-bottom: 2em;
}

.paper_dividing6{
  bottom: -4rem;
}

.legacy-section__image {
  max-width: 17rem;
}

.divider_6{

  transform: translateY(-6rem);
}

.museum-visit__info-button {
  padding: 1rem 1.5rem;
  border: none;
  font-size: 1.25rem;
}

.museum-visit__image-file {
  max-width: 30rem;
}

.museum-visit {
  padding-top: 6em;
}

.social__title {
  font-size: 2.5rem;
}

.social__icon {
  max-width: 2rem;
}

.contact-info {
  font-size: 1.25rem;
}

.footer__logo {
  max-width: 5rem;
}

.buttons_forBook {
  margin-top: 4em;
}

#prev-btn, #next-btn, .reset-button {
  font-size: 1.3rem;
}

.reset-button{
  padding: 0.7rem 1.2rem;
}



}

/* @media screen and (min-width: 45rem){  
 
  .nav__button {
    display: none;
  }

  .inside_logo{
    display: none;
}

  .nav__button {
      display: none;
    }
  
    
    .nav__list {
      transform: none; 
      position: static; 
      height: auto; 
      width: auto; 
      flex-direction: row; 
      justify-content: space-between; 
      background-color: transparent; 
      width: 100%;
      align-items: center;
      

    }
  
    .nav__item {
      display: inline-block; 
    }
  
    .nav__link {
      padding: 0 1rem; 
      font-size: 1rem;
    }
  
    .closing__button {
      display: none; 
    }
   
  
} */


/* @media screen and (min-width: 45em) {  
  .nav__button {
      display: none; 
  }

  .inside_logo {
      display: block; 
      width: 5rem; 
  }

  
  .nav__list {
      transform: none; 
      position: static; 
      height: auto; 
      width: auto; 
      flex-direction: row; 
      justify-content: space-between; 
      align-items: center; 
      gap: 1.5rem; 
      background-color: transparent; 
  }

  .cross_and_logo{
    display: none;
  }

  .nav__item {
      display: inline-block; 
      list-style: none;
  }

  .nav__link {
      padding: 0.5rem 1rem; 
      font-size: 1rem; 
      color: black; 
      text-decoration: none;
  }

  .nav__link:hover {
      background-color: var(--primary-color); 
      color: white; 
  }

  .nav__item a {
    color: black;
}

  .closing__button {
      display: none; 
  }
} */



@media  (min-width : 53rem) {

  .hand_receiving {
    max-width: 33rem;
    right: -18rem;
}

.section-plantin__image--collage {
  margin-left: 25rem;
  margin-top: 0;
}

.book_inHand {
  left: 17rem;
  max-width: 15.5rem;
}

.match-tools__highlight {
  margin-left: 13.5rem;
}

.draggable:last-child {
  max-width: 7.5rem;
}

.draggable {
  max-width: 9rem;
}

.data {
  top: 5rem;
  left: 14rem;
}



.craftsmen {
  padding-top: 8rem;
}

.book {
  height: 30rem;
}

.buttons_forBook {
  margin-bottom: 3em;
}

.section-plantin__heading--highlight_1 {
  margin-left: 0rem;
}

.section-book__title {
  /* width: 80%; */
}

.section-book__image {
  max-width: 38rem;
}

.horizontal-scroll__highlight {
  margin-left: 2em;
}

.horizontal-scroll__content {
  padding-top: 8rem;
}

visit__info-title {
  width: 70%;
}

.hero__para, .card__description, .spark__description, .workshop__description , .match-tools__description, .timeline__description , .craftsmen__description , .section-plantin__description , .section-book__description, .horizontal-scroll__content,
  .legacy-section__description, .museum-visit__info-description
  {
    font-size: 1.3rem;
  }


}

@media  (min-width : 56.25rem) {

  .book_inHand {
    left: 21rem;
  }

  .nav__item {
    font-size: 3.5rem;
}

  .header__logo {
    width: 100%;
    max-width: 6.5rem;
}

/* .nav__item {
  border: none;
  text-align: center;
}

#nav__list{
  width: max-content;
 
  margin: auto;
} */

  .hand_giving {
    max-width: 33rem;
}

.card_two {
  padding-bottom: 8em;
}

.clouds {
  top: -10rem;
}

}


@media  (min-width : 62.5rem){
  .hand_giving {
    max-width: 34rem;
    top: 16rem;
  }
  
 

  .hand_receiving{
    max-width: 38rem;
}

.book_inHand {
  left: 21rem;
}

.hero__heading, .spark__heading , .workshop__heading, .match-tools__heading , .craftsmen__title, .section-book__title, .horizontal-scroll__title, .legacy-section__title,
.museum-visit__info-title {
  font-size: 5.75rem;
}

.divider {
  bottom: -5.5rem;
}

.spark__heading{
  padding-top: 1em;
}
.container img {
  max-width: 15rem;
}

.stamping img {
  max-width: 16rem;
}

.clouds {
  top: -11rem;
  right: -25rem;
}

.paper_dividing {
  bottom: -5rem;
}

.workshop__heading{
  margin-top: 0.5em;
}

.drop-zone img {
  max-width: 14rem;
}

.draggable {
  max-width: 10rem;
}

.game-container {
  padding-bottom: 7rem;
}

.paper_dividing2{
  bottom: 1rem;
}

.data {
  top: 7rem;
  left: 15rem;
  font-size: 5.9rem;
}

.book_text {
  top: 7rem;
  right: 13rem;
  font-size: 5.9rem;
}

.book {
  height: 36rem;
}

.flipbook__heading {
  font-size: 2.8rem;
}

.feedback_for_font {
  font-size: 1.35rem;
}

.arialing, .garamond {
  font-size: 1.8rem;
}

.section-plantin__heading {
  font-size: 5rem;
}

/* .hero__para, .card__description, .spark__description, .workshop__description, .match-tools__description, .timeline__description, .craftsmen__description, .section-plantin__description, .section-book__description, .horizontal-scroll__content, .legacy-section__description, .museum-visit__info-description {
  font-size: 1.55rem;
} */


.section-book__title {
  width: 84%;
}

.section-book__image {
  max-width: 44rem;
}

.horizontal-scroll__image--moretus {
  max-width: 40rem;
  margin-left: 31rem;
}

.legacy-section__image {
  max-width: 22rem;
}

.museum-visit {
  display: flex;
  flex-direction: row-reverse;
  gap: 3rem;
  padding-bottom: 4rem;
  padding-top: 10rem;
}

.museum-visit__image-file {
  max-width: 39rem;
}

.museum-visit--text{
  margin-right: 4em;
}

.museum-visit__image{
  display: flex;
  align-items: end;
  margin-bottom: -4rem;
}

.divider_7 {
  transform: translateY(-28rem);
  margin-top: 5em;
}

.social__title {
  font-size: 3rem;
}

.social__icon {
  max-width: 2.7rem;
}

.game-container {
  flex-direction: column;
  gap: 12em;
}

.drag-area, .drop-area{
  flex-direction: row;
}

.matching_content{
  display: none;
}

.drag-area{
  /* flex-wrap: wrap;
  gap: 0;
  margin-right: -8em;
  width: 50%; */
  gap: 0;
  margin-right: -8em;
  width: 40%;
  display: grid;
  grid-template-columns: 9rem 9rem;
  margin-bottom: -5rem;
}

.drag_and_dropinggg {
  display: flex;
  align-items: center;
  gap: 12em;
}

.match-tools__highlight {
  margin-left: 0;
}

.draggable {
  max-width: 8rem;
  z-index: 1;
}
.match-tools__heading {
  padding-top: 0.5em;
}

.tabletop {
  position: absolute;
  right: -19rem;
  top: 22rem;
  z-index: 0;
  scale: 0.7;
}

.match-tools {
  margin-left: -1em;
  width: 80%;
}

.matching, .tabletop{
  display: block;
}

.timeline__item {
  flex-direction: row;
  margin-left: 0;
}

.timeline_parent{
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.timeline__content {
  transform: translateY(4rem);
  margin-left: -3em;
  width: 100%;
  max-width: 55ch;
}

.timeline__image {
  max-width: 80%;
  margin-left: 10em;
}

.timeline__svg {
  position: absolute;
  left: 50%;
}
/* svg {
  position: absolute;
  left: 50%;
} */

.data {
  top: 5rem;
  left: 12rem;
  font-size: 4.5rem;
}

.book_text {
  top: 5rem;
  right: 2rem;
  font-size: 4.5rem;
}

.switching_item{
  flex-direction: row-reverse;
}

.switching_item .timeline__image{
  margin-left: -3rem;
}

.switching_item .timeline__content{
  margin-right: -9rem;
}

.switching_item .timeline__media {
  justify-content: start;
  margin-right: 6rem;
}

}

@media  (min-width : 62.5rem){
  .hand_giving {
    max-width: 37rem;
}

#f2 {
  padding: 2.5em;
}

.book_inHand {
  left: 25rem;
}

.feedback_for_font{
  line-height: 1.5;
  font-size: 1.25rem;
}

}


@media  (min-width : 68rem){
  .hand_receiving {
    max-width: 47rem;
}

.hand_giving {
  max-width: 43rem;
  left: -17rem;
}

.hand_receiving {
  max-width: 55rem;
}

.book_inHand {
  left: 31rem;
}

.card__description{
  margin-left: 27rem;
}

.book_inHand {
  max-width: 18.5rem;
}
.card_two {
  padding-bottom: 14em;
}

.clouds {
  top: -14rem;
}

.craftsmen__clouds {
  top: -15rem;
}

.craftsmen {
  padding-bottom: 8rem ;
}

.section-book__image {
  max-width: 49rem;
}

.divider_7 {
  transform: translateY(-25rem);
}

}


@media  (min-width : 75rem){
  .game-container {
    padding-bottom: 9rem;
}

.nav__button svg {
  width: 2.3rem;
  height: 2.3rem;
}

.nav__item {
  font-size: 4rem;
}

.closing__button svg {
  width: 3rem;
  height: 3rem;
}

.data {
  top: 6rem;
  left: 13rem;
  font-size: 4.9rem;
}

.book_text {
  top: 6rem;
  right: 4rem;
  font-size: 4.9rem;
}

.section-book__image {
  max-width: 52rem;
}

.horizontal-scroll__highlight {
  margin-left: 3em;
}

.horizontal-scroll__image--moretus {
  margin-left: 46rem;
}
.horizontal-scroll__content {
  padding-top: 10rem;
}

.flipbook__heading {
  font-size: 3rem;
}

#f2 {
  padding: 3em;
}

.section-plantin__heading {
  margin-left: 3em;
}

.section-plantin__description {
  margin-left: 15rem;
}

}

@media  (min-width : 81rem){
  .hero__para {
    font-size: 1.4rem;
    max-width: 41ch;
}
  
  .hero__heading{
    font-size: 6.7rem;
  }

  .divider {
    bottom: -6.5rem;
}


.workshop__wrapper {
  flex-direction: row-reverse;
  gap: 11em;
}

.printed_paper_section{
  flex-direction: column; 
}

.workshop {
  padding-top: 13rem;
  padding-bottom: 9rem;
}

.paper_dividing {
  bottom: -6rem;
}

.hand_giving {
  max-width: 42rem;
}

.book_inHand {
  left: 29rem;
}

.data {
  top: 6rem;
  left: 17rem;
  font-size: 5.9rem;
}

.book_text {
  top: 6rem;
  right: 5rem;
  font-size: 5.9rem;
}

.craftsmen {
  padding-bottom: 11rem;
}

.book {
  height: 47rem;
  scale: 0.75;
  margin-right: -5rem;
  margin-top: -3rem;
}

.buttons_forBook{
  /* justify-content: end;
  margin-right: 7em; */
  margin-top: -2em;
}

#prev-btn, #next-btn, .reset-button {
  font-size: 1.5rem;
}

.craftsmen {
  padding-top: 14rem;
}

.flipbook__heading {
  font-size: 4.1rem;
}

.feedback_for_font {
  font-size: 1.6rem;
}

.section-plantin__image--collage {
  margin-left: 34rem;
}

.section-plantin__image--one , .section-plantin__image--two{
  scale: 1.3 ;
}

.section-plantin__heading {
  margin-left: 4em;
}

.section-plantin__description {
  margin-left: 20rem;
}

.section-book__title {
  width: 61%;
}

.section-book__image {
  max-width: 57rem;
}

.horizontal-scroll__content{
  padding-top: 16rem;
}

.scrolling_texting{
  margin-left: 19rem;
}

.horizontal-scroll__image--plantin{
  display: block;
  position: absolute;
  left: -37rem;
  top: 0;
  scale: 0.9;
}

.craftsmen__clouds {
  top: -19rem;
  right: -31rem;
}

/* .horizontal-scroll__image--plantin{
  display: block;
}

.horizontal-scroll__highlight {
  margin-left: 0;
}

.horizontal-scroll__image--moretus {
  margin-left: 0;
} */

.footer__newsletter {
  opacity: 1;
}

.address_footer{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.newsletter__input-wrapper{
display: flex;
justify-content: space-between;
background-color: white;
padding: 1em;
color: #9C9C9C;
font-family: 'arial', serif;
width: 22rem;
}

.newsletter__title{
  font-family: "rocky-compressed", serif;
  font-size: 3.125rem;
  color: #4B4239;
}

.newsletter__highlight{
  color: #BB5B45;
}

.newsletter{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.logo_footer {
  gap: 1.6rem;
}

.spark__figure{
  max-width: 10rem;
}

.hand_giving {
  max-width: 41rem;
  top: 14rem;
}

}

@media  (min-width : 87.5rem){
  .nav__item {
    font-size: 4.5rem;
}
  .museum-visit--text {
    width: 60%;
}

.divider_7 {
  transform: translateY(-33rem);
}

.museum-visit {
  padding-top: 13rem;
}

.horizontal-scroll__image--moretus {
  margin-left: 58rem;
}

.card_two {
  padding-bottom: 21em;
}

.clouds {
  top: -19rem;
}

.book {
  height: 51rem;
  scale: 0.6;
  margin-right: -12rem;
  margin-top: -8rem;
}

.buttons_forBook {
  margin-top: -8em;
}

.section-book__image {
  max-width: 60rem;
}

}

